<div th:fragment="addEmployeeModal">
    <div id="addEmployeeModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить сотрудника</h5>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="employeeForm">
                        <div class="form-group">
                            <label for="userName">Имя</label>
                            <input type="text" class="form-control" id="userName" name="userName" required>
                        </div>
                        <div class="form-group">
                            <label for="userLastName">Фамилия</label>
                            <input type="text" class="form-control" id="userLastName" name="userLastName" required>
                        </div>
                        <div class="form-group">
                            <label for="employeeRole">Роль сотрудника</label>
                            <select class="form-control" id="employeeRole" name="employeeRole" required>
                                <!-- Здесь будут добавлены опции ролей -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary save-employee" id="saveEmployeeBtn">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>