<div th:fragment="administrator-body">
    <div class="container">
        <h1>Таблица сотрудников</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Идентификатор</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Роль сотрудника</th>
                <th scope="col">Роль привилегий</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" th:class="'employee-id-'+${employee.id}">
                <th scope="row" th:text="${employee.user.id}"></th>
                <td th:text="${employee.user.firstName}"></td>
                <td th:text="${employee.user.lastName}"></td>
                <td th:text="${employee.user.birthDate}"></td>
                <td th:text="${employee.role.roleName}"></td>
                <td th:text="${employee.user.role}"></td>
                <td>
                    <button class="btn btn-primary edit-employee" th:data-employee="${employee.id}+'-'+${employee.user.id}+'-'+${employee.role.id}+'-'+${employee.user.role}">Редактировать</button>
                    <button class="btn btn-danger deleted-employee" th:data-user-id="${employee.user.id}"  th:data-user-name="${employee.user.firstName}+' '+${employee.user.lastName}" >Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-success add-employee">Добавить сотрудника</button>
    </div>
</div>