<div th:fragment="main-body">
    <div class="container main-body">
        <div class="row row-cols-3">
            <div class="col d-flex flex-column bd-highlight main-blocs">
                <div class="p-2 bd-highlight">
                    Зарегистрировано обращений
                </div>
                <div class="p-2 d-flex justify-content-between bd-highlight">
                    <div class="bd-highlight text-count">
                        3
                    </div>
                    <div class="bd-highlight" style="
                            width: 36%;
                            height: 100%;
                        ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bricks" viewBox="0 0 20 20" style="
                            width: 100%;
                            height: 100%;
                                 ">
                            <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0
                            1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1
                            .5 6H2V4H.5a.5.5 0 0 1-.5-.5zM3 4v2h4.5V4zm5.5 0v2H13V4zM3 10v2h4.5v-2zm5.5 0v2H13v-2zM1 1v2h3.5V1zm4.5 0v2h5V1zm6
                            0v2H15V1zM1 7v2h3.5V7zm4.5 0v2h5V7zm6 0v2H15V7zM1 13v2h3.5v-2zm4.5 0v2h5v-2zm6 0v2H15v-2z" fill="cornflowerblue"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column bd-highlight main-blocs">
                <div class="p-2 bd-highlight">
                    Скорость ответа
                </div>
                <div class="p-2 d-flex justify-content-between bd-highlight">
                    <div class="bd-highlight text-count">
                        3
                    </div>
                    <div class="bd-highlight" style="
                            width: 36%;
                            height: 100%;
                        ">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="dashboard">
                            <path d="m29.61 21.28h-2c-.61-15.39-22.61-15.4-23.22 0h-2a13.61 13.61 0 0 1 27.22 0zm-10.86-1.28-.06-.07a3 3 0 1 1 -1.29-1.33l-.06-.07 3.55-3.53 1.41
                             1.4zm-2.75.24a1 1 0 0 0 0 2.09 1 1 0 0 0 0-2.09z"  fill="cornflowerblue"/></g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column bd-highlight main-blocs">
                <div class="p-2 bd-highlight">
                    Обработано записей
                </div>
                <div class="p-2 d-flex justify-content-between bd-highlight">
                    <div class="bd-highlight text-count">
                        3
                    </div>
                    <div class="bd-highlight" style="
                            width: 30%;
                            height: 100%;
                        ">
                        <svg id="Flat" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g fill="#8690fa">
                            <path d="m71.072 303.9a189.244 189.244 0 0 0 66.661 97.518 186.451 186.451 0 0 0 114.189 38.582c103.707 0
                            188.078-84.284 188.078-187.884a185.963 185.963 0 0 0 -38.974-114.534 189.368 189.368 0 0 0 -98.448-66.463 24 24
                            0 1 1 12.883-46.238 237.668 237.668 0 0 1 123.578 83.392 235.9 235.9 0 0 1 -187.117 379.727 234.064 234.064 0 0 1
                            -143.342-48.444 237.546 237.546 0 0 1 -83.652-122.438z" fill="#8690fa" style="fill: rgb(133, 184, 249);"></path>
                            <circle cx="200" cy="48" r="24" fill="#8690fa" style="fill: rgb(133, 184, 249);"></circle><circle cx="56" cy="192" r="24"
                             fill="#8690fa" style="fill: rgb(133, 184, 249);"></circle><circle cx="109" cy="101" r="24" fill="#8690fa"
                             style="fill: rgb(133, 184, 249);"></circle></g><path d="m48 480a24 24 0 0 1 -24-24v-144a24 24 0 0 1 29.206-23.429l144 32a24 24 0 1 1 -10.412 46.858l-114.794-25.51v114.081a24 24 0 0 1 -24 24z"
                             fill="#5153ff" style="fill: rgb(82, 139, 255);"></path></svg>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column bd-highlight main-blocs">
                <canvas id="chartjs-bar" style="display: block;width: 688px;height: 344px;" width="688" height="344" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>